{% extends "base.html" %}

{% block title %}Смяна на парола{% endblock %}

{% block main %}
    <form method="POST" class="form-group card p-4">
        {% csrf_token %}

        <h1 class="text-center fw-light mb-3">Смяна на парола</h1>

        {% include 'includes/errors.html' %}

        <div class="form-floating mb-3">
            <input type="email" name="email" class="form-control"
            autocomplete="email" maxlength="254" required id="id_email"
            placeholder="">
            <label for="email">Имейл адрес</label>
        </div>

        <div class="d-flex align-items-center gap-1">
            <button type="submit" class="btn btn-dark">Изпрати</button>
            <a href="{% url 'sign-up' %}" class="btn btn-secondary border">Създай нов акаунт</a>
            <a href="{% url 'login' %}" class="btn btn-secondary border">Обратно към влизане</a>
        </div>
    </form>
{% endblock %}